<div class="hero-unit">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h1><%= I18n.t('menu.videos') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row albums">
    <div class="span10 offset1">

    <!-- the player -->
    <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="0.4167">
      <video>
         <source type="video/webm" src="http://stream.flowplayer.org/bauhaus/624x260.webm">
         <source type="video/mp4" src="http://stream.flowplayer.org/bauhaus/624x260.mp4">
         <source type="video/ogv" src="http://stream.flowplayer.org/bauhaus/624x260.ogv">
      </video>
    </div>

    </div>
  </div>

</div>
