.affix, .navbar-fixed-top{
  -webkit-transform: scale3d(1,1,1);
}

@media (min-width: 979px) {
  body {
    padding-top: 80px;
  }
}

h1 a, h2 a, h3 a {
  color: inherit;
  text-transform: uppercase;
}
h1 a:hover, h2 a:hover, h3 a:hover {
  color: inherit;
  text-decoration: underline;
}
h2 i {
  margin-top: 10px;
}

p i {
  margin-top: 2px;
}

blockquote {
  background: #f9f9f9;
  border-left: none;
  margin: 25px 0;
  padding: 25px 25px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #333;
  content: open-quote;
  font-size: 72px;
  line-height: .1em;
  margin-right: 15px;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.hero-unit .thumbnail {
  color: inherit;
}
.hero-unit .thumbnail:hover {
  color: inherit;
  text-decoration: none;
}

.circle-thumbnail {
  border: 5px solid white;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0;
  width: 100px;
  height: 100px;
}
.circle-thumbnail img {
  width: 100%;
  height: 100%;
}

.section-title h2 {
  padding: 50px 0;
}
.section-title.horizontal-left h2 {
  padding-top: 0;
  padding-bottom: 10px;
}
.section-title.horizontal-left i {
  margin-top: 18px;
}

.hero-unit {
  margin: 0 0 25px 0;
  padding: 20px 20px 30px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.hero-unit h1 {
  color: #333;
  letter-spacing: 0.7px;
}
.hero-unit .pink {
  color: #c33;
}

.navbar .brand {
  margin-top: 10px;
  padding-bottom: 8px;
  max-height: 61px;
  width: auto;
}
.navbar .navbar-inner {
  background: white;
  filter: none;
  height: 80px;
}
.navbar .btn-navbar {
  margin-top: 20px;
}
.navbar .nav {
  margin-top: 20px;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
  font-weight: normal;
}

@media (max-width: 979px) {
  .navbar .nav {
    margin-top: 0px;
  }
}

.navbar .nav > li > a {
  color: #333;
  padding: 10px 10px 11px;
  text-shadow: none;
}
.navbar .nav > li > a:hover {
  color: #fff;
  background: #259ee0;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.navbar .nav > li.active > a {
  background: none;
  color: #111;
}
.navbar .nav > li.active > a:hover {
  background: none;
  color: #111;
}

.carousel {
  margin-bottom: 0;
}
.carousel .item {
  width: 100%;
  max-height: 750px;
}
.carousel .item img {
  width: 100%;
}
.carousel .carousel-control {
  background: none;
  border: none;
  top: 50%;
}

.caption {
  position: absolute;
  /* text */
  /* background */
}
.caption.top-left, .caption.top-right {
  top: 25px;
}
.caption.middle-left, .caption.middle-right {
  top: 40%;
}
.caption.bottom-left, .caption.bottom-right {
  bottom: 25px;
}
.caption.top-left, .caption.middle-left, .caption.bottom-left {
  left: 50%;
  margin-left: -470px;
}
.caption.top-left p, .caption.middle-left p, .caption.bottom-left p {
  padding-bottom: 10px;
  line-height: 100%;
}
.caption.top-right, .caption.middle-right, .caption.bottom-right {
  left: 50%;
  margin-left: -470px;
}
.caption.top-right p, .caption.middle-right p, .caption.bottom-right p {
  padding-bottom: 10px;
  text-align: right;
  float: right;
  line-height: 100%;
}
.caption p {
  padding: 5px 10px;
  margin: 0;
  float: left;
  display: block;
  clear: both;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.caption .add-space {
  margin-top: 10px;
  margin-bottom: 10px;
}
.caption .large {
  font-size: 55px;
}
.caption .medium {
  font-size: 40px;
}
.caption .small {
  font-size: 22px;
}
.caption .white {
  background: rgba(255, 255, 255, 0.8);
}
.caption .pink {
  background: rgba(0, 159, 227, 0.8);
  color: white;
  width: auto;
}
.caption .text-pink {
  color: #259ee0;
}

.testimonials {
  padding-bottom: 25px;
}
.testimonials img {
  margin: 0 auto;
  display: block;
}
.testimonials h2 {
  text-align: center;
}
.testimonials p {
  text-align: center;
}

.team {
  /*padding-top: 25px;*/
  margin-bottom: 25px;
}

.team .item img.thumbnail {
  margin: 0 auto;
}
.team .item h3 {
  text-align: center;
  font-weight: 300;
}
.team .item p {
  text-align: center;
  font-size: 16px;
}

.contact-info {
  text-align: center;
}

footer {
  color: #333;
  background: #eeeeee;
  margin-top: 25px;
  padding-top: 10px;
}
footer p {
  padding-bottom: 0;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}
footer a {
  color: #333;
}
footer a:hover {
  color: #333;
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 10px 0;
  margin: 0;
}

p {
  font-weight: 400;
  line-height: 170%;
}

ul li {
  line-height: 170%;
}

blockquote p {
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
  line-height: 120%;
}

.page-header.center {
  text-align: center;
}

.section-title h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.section-title.horizontal-left h2 {
  text-align: left;
}

.hero-unit h1 {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 58px;
  text-transform: uppercase;
}
.hero-unit h1 strong {
  font-weight: 300;
}

.navbar {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.member {
  text-align: center;
  padding-bottom: 25px;
}
.member .thumbnail {
  margin: 0 auto;
  background: #eee;
}
.member h2 {
  text-align: center;
}
.member .member-social {
  display: inline-block;
  margin: 0 auto;
}
.member .member-description {
  border-top: 1px dashed #eee;
  padding-top: 20px;
  margin-top: 20px;
}
.member .member-description p {
  font-size: 90%;
  padding: 0 10px;
  text-align: left;
}

.post-info-left .blog-item {
  border-bottom: 1px dashed #eee;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.post-info-left .blog-item h2 {
  border-bottom: 1px solid #EEE;
  margin-bottom: 15px;
}
.post-info-left .blog-item p {
  font-size: 14px;
  color: #444;
}
.post-info-left .blog-item .date-wrapper {
  padding: 10px 0;
  margin-top: 15px;
  margin-bottom: 25px;
  background: #C33;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.post-info-left .blog-item .published {
  width: 80px;
  height: 37px;
  display: block;
  margin: 0 auto;
}
.post-info-left .blog-item .published p {
  margin-bottom: 0;
  color: white;
}
.post-info-left .blog-item .published .day {
  width: 30px;
  font-size: 32px;
  line-height: 100%;
}
.post-info-left .blog-item .published .month {
  width: 35px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 110%;
}
.post-info-left .blog-item .published:after {
  content: "";
  display: block;
  position: relative;
  left: 40%;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 20px solid #C33;
  border-bottom: 15px solid transparent;
}
.post-info-left .blog-item .postedby h4 {
  line-height: 100%;
  padding: 0;
}
.post-info-left .blog-item .postedby h4 i {
  margin-top: 2px;
}
.post-info-left .blog-item .postedby .author-name {
  padding-left: 18px;
}
.post-info-left .blog-item .post-tags ul {
  list-style: none;
  margin-left: 0;
  padding-left: 18px;
}
.post-info-left .blog-item .post-tags h4 {
  line-height: 100%;
  padding: 0;
  margin-bottom: 5px;
}
.post-info-left .blog-item .post-tags h4 i {
  margin-top: 2px;
}
.post-info-left .blog-item .post-tags li {
  display: inline-block;
}
.post-info-left .blog-item .post-tags li a:hover {
  text-decoration: none;
}
.post-info-left .blog-item .comments h4 {
  line-height: 100%;
  padding: 0;
}
.post-info-left .blog-item .comments h4 i {
  margin-top: 2px;
}
.post-info-left .blog-item .comments .comments-count {
  padding-left: 18px;
}
.post-info-left .blog-item blockquote {
  background: #f9f9f9;
  border-left: none;
  margin: 25px 0;
  padding: 25px 25px;
  quotes: "\201C""\201D""\2018""\2019";
}
.post-info-left .blog-item blockquote:before {
  color: #333;
  content: open-quote;
  font-size: 72px;
  line-height: .1em;
  margin-right: 15px;
  vertical-align: -0.4em;
}
.post-info-left .blog-item blockquote p {
  display: inline;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 32px;
  font-weight: 300;
  line-height: 120%;
}

.comments-main-list {
  margin-left: 0;
}

.comments-list {
  list-style: none;
}
.comments-list .comment {
  padding: 10px 15px 25px 15px;
  margin: 10px 0;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.comments-list .comment img.avatar {
  float: left;
  margin: 0 15px 0 0;
}
.comments-list .comment .comment-author {
  font-weight: bold;
}
.comments-list .comment .comment-date {
  color: #888;
  font-size: 80%;
}
.comments-list .comment .comment-content {
  padding-left: 67px;
}
.comments-list .comment .comment-reply {
  display: block;
  float: right;
}
.comments-list .comment-reply .comment:before {
  background-image: url("../img/glyphicons-halflings.png");
  background-position: -336px -96px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  margin-left: -35px;
  margin-top: -5px;
}

.commenter-info {
  margin-bottom: 10px;
}

.comment-button {
  margin-top: 10px;
}

/* Visit: http://www.elegantthemes.com/blog/resources/beautiful-free-social-media-icons */
.elegant-icon-sprite, .elegant-icon-bebo, .elegant-icon-behance, .elegant-icon-blogger, .elegant-icon-delicious, .elegant-icon-designfloat, .elegant-icon-deviantart, .elegant-icon-digg, .elegant-icon-dribbble, .elegant-icon-email, .elegant-icon-evernote, .elegant-icon-facebook, .elegant-icon-flickr, .elegant-icon-forrst, .elegant-icon-googleplus, .elegant-icon-grooveshark, .elegant-icon-instagram, .elegant-icon-lastfm, .elegant-icon-linkedin, .elegant-icon-myspace, .elegant-icon-netvibes, .elegant-icon-orkut, .elegant-icon-path, .elegant-icon-picasa, .elegant-icon-pinterest, .elegant-icon-posterous, .elegant-icon-reddit, .elegant-icon-rss, .elegant-icon-soundcloud, .elegant-icon-stumbleupon, .elegant-icon-tumblr, .elegant-icon-twitter, .elegant-icon-vimeo, .elegant-icon-wordpress, .elegant-icon-yahoo, .elegant-icon-youtube {
  background: url('../img/elegant-icon-sc61f2a7b49.png') no-repeat;
}

.elegant-icon-bebo {
  background-position: 0 -608px;
  height: 32px;
  width: 32px;
}

.elegant-icon-behance {
  background-position: 0 -256px;
  height: 32px;
  width: 32px;
}

.elegant-icon-blogger {
  background-position: 0 -800px;
  height: 32px;
  width: 32px;
}

.elegant-icon-delicious {
  background-position: 0 -992px;
  height: 32px;
  width: 32px;
}

.elegant-icon-designfloat {
  background-position: 0 -384px;
  height: 32px;
  width: 32px;
}

.elegant-icon-deviantart {
  background-position: 0 -192px;
  height: 32px;
  width: 32px;
}

.elegant-icon-digg {
  background-position: 0 -224px;
  height: 32px;
  width: 32px;
}

.elegant-icon-dribbble {
  background-position: 0 -96px;
  height: 32px;
  width: 32px;
}

.elegant-icon-email {
  background-position: 0 -1088px;
  height: 32px;
  width: 32px;
}

.elegant-icon-evernote {
  background-position: 0 -544px;
  height: 32px;
  width: 32px;
}

.elegant-icon-facebook {
  background-position: 0 -672px;
  height: 32px;
  width: 32px;
}

.elegant-icon-flickr {
  background-position: 0 -1024px;
  height: 32px;
  width: 32px;
}

.elegant-icon-forrst {
  background-position: 0 -576px;
  height: 32px;
  width: 32px;
}

.elegant-icon-googleplus {
  background-position: 0 -928px;
  height: 32px;
  width: 32px;
}

.elegant-icon-grooveshark {
  background-position: 0 -32px;
  height: 32px;
  width: 32px;
}

.elegant-icon-instagram {
  background-position: 0 -480px;
  height: 32px;
  width: 32px;
}

.elegant-icon-lastfm {
  background-position: 0 -128px;
  height: 32px;
  width: 32px;
}

.elegant-icon-linkedin {
  background-position: 0 -352px;
  height: 32px;
  width: 32px;
}

.elegant-icon-myspace {
  background-position: 0 -1056px;
  height: 32px;
  width: 32px;
}

.elegant-icon-netvibes {
  background-position: 0 -640px;
  height: 32px;
  width: 32px;
}

.elegant-icon-orkut {
  background-position: 0 -64px;
  height: 32px;
  width: 32px;
}

.elegant-icon-path {
  background-position: 0 -288px;
  height: 32px;
  width: 32px;
}

.elegant-icon-picasa {
  background-position: 0 -864px;
  height: 32px;
  width: 32px;
}

.elegant-icon-pinterest {
  background-position: 0 -704px;
  height: 32px;
  width: 32px;
}

.elegant-icon-posterous {
  background-position: 0 -448px;
  height: 32px;
  width: 32px;
}

.elegant-icon-reddit {
  background-position: 0 -960px;
  height: 32px;
  width: 32px;
}

.elegant-icon-rss {
  background-position: 0 -736px;
  height: 32px;
  width: 32px;
}

.elegant-icon-soundcloud {
  background-position: 0 -512px;
  height: 32px;
  width: 32px;
}

.elegant-icon-stumbleupon {
  background-position: 0 -160px;
  height: 32px;
  width: 32px;
}

.elegant-icon-tumblr {
  background-position: 0 -832px;
  height: 32px;
  width: 32px;
}

.elegant-icon-twitter {
  background-position: 0 -320px;
  height: 32px;
  width: 32px;
}

.elegant-icon-vimeo {
  background-position: 0 -416px;
  height: 32px;
  width: 32px;
}

.elegant-icon-wordpress {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}

.elegant-icon-yahoo {
  background-position: 0 -768px;
  height: 32px;
  width: 32px;
}

.elegant-icon-youtube {
  background-position: 0 -896px;
  height: 32px;
  width: 32px;
}

[class^="elegant-icon"] {
  display: inline-block;
}

/**   (c) 2011 James Cryer, Huddle (www.huddle.com)   */
/**   http://jamescryer.github.com/grumble.js/    */
.grumble {
  position: absolute;
  background-image: url(../img/bubble-sprite.png);
  background-repeat: no-repeat;
  z-index: 99999;
}

.grumble-text {
  position: absolute;
  text-align: center;
  z-index: 99999;
  display: table;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

.ie7 .grumble-text,
.ie6 .grumble-text {
  display: block;
}

.grumble-text .outer {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.ie7 .grumble-text .outer,
.ie6 .grumble-text .outer {
  display: block;
  width: 85%;
  position: absolute;
  top: 48%;
  left: 0;
}

.ie7 .inner,
.ie6 .inner {
  position: relative;
  top: -50%;
}

.grumble-text50 .outer {
  padding: 6px;
}

.grumble-text100 .outer {
  padding: 8px;
}

.grumble-text150 .outer {
  padding: 10px;
}

.grumble-text200 .outer {
  padding: 12px;
}

.grumble50 {
  background-position: 0 0;
}

.grumble100 {
  background-position: 0 -50px;
}

.grumble150 {
  background-position: 0 -150px;
}

.grumble200 {
  background-position: 0 -300px;
}

.alt-grumble50 {
  background-position: -200px 0;
}

.alt-grumble100 {
  background-position: -200px -50px;
}

.alt-grumble150 {
  background-position: -200px -150px;
}

.alt-grumble200 {
  background-position: -200px -300px;
}

.grumble-button {
  position: absolute;
  width: 20px;
  height: 12px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #FF5C00;
  color: #fff;
  text-align: center;
  font-size: .8em;
  line-height: .9em;
  -moz-box-shadow: 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
  cursor: pointer;
  z-index: 99999;
}

.portfolio-item {
  margin-top: 35px;
  margin-bottom: 35px;
}
.portfolio-item .image-wrapper {
  position: absolute;
  overflow: hidden;
  max-width: 50%;
  max-height: 500px;
}
.portfolio-item .image-wrapper img {
  display: inline-block;
  float: left;
  max-height: inherit;
}
.portfolio-item .image-wrapper a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(204, 204, 204, 0.4);
  text-align: center;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.portfolio-item .image-wrapper a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}
.portfolio-item .image-wrapper a span {
  position: relative;
  top: 50%;
  padding: 5px 10px;
  background: #2f96b4;
  color: white;
}

#portfolio-nav li {
  text-align: right;
}
#portfolio-nav li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: none;
  background: #111;
  color: #fff;
}

.portfolio-thumbnails .portfolio-item {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top: 0;
  height: 155px;
}
.portfolio-thumbnails .portfolio-item .image-wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.portfolio-thumbnails .portfolio-item .image-wrapper img {
  max-width: 245px;
}

/* Large desktop */
@media (min-width: 1200px) {
  .caption.top-left, .caption.middle-left, .caption.bottom-left {
    margin-left: -585px;
  }
  .caption.top-right, .caption.middle-right, .caption.bottom-right {
    margin-left: -625px;
  }

  .portfolio-thumbnails .portfolio-item {
    height: 190px;
  }
  .portfolio-thumbnails .portfolio-item .image-wrapper img {
    max-width: 300px;
  }
}
/* Portrait tablet*/
@media (max-width: 980px) {
  .caption.top-right, .caption.middle-right, .caption.bottom-right {
    left: 0;
    margin-left: 0;
    margin-right: 25px;
    width: 100%;
  }

  /* logo margin fix */
  .navbar {
    height: auto;
    margin-bottom: 0;
  }
  .navbar .brand {
    margin-top: 0;
  }
  .navbar .navbar-inner {
    height: auto;
  }

  .navbar .nav > li > a:hover {
  }

  /* ##################### */
  /* $SMARTHPHONE-PRICING  */
  /* ##################### */
  #pricing-table {
    width: 700px;
    /* total pricing width */
  }

  #pricing-table .plan {
    width: 140px;
    padding: 10px;
  }

  #pricing-table .header {
    margin: -10px;
    margin-bottom: 20px;
    padding: 40px 0;
  }

  #pricing-table .popular-plan .header {
    margin: -10px;
    margin-bottom: 20px;
  }

  /* ################### */
  /*  $PORTRAIT-CAROUSEL */
  /* ################### */
  .caption.top-left, .caption.middle-left, .caption.bottom-left {
    margin-left: -320px;
  }
  .caption.top-left p, .caption.middle-left p, .caption.bottom-left p {
    margin-left: 0;
  }
  .caption.top-right p, .caption.middle-right p, .caption.bottom-right p {
    margin-right: 40px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hero-unit .thumbnail {
    display: block;
    margin: 10px 0;
  }

  /* make this items full-width (remove body padding) */
  .slider-block, .hero-unit, footer {
    margin-left: -20px;
    margin-right: -20px;
  }

  /* ##################### */
  /* $SMARTHPHONE-PRICING  */
  /* ##################### */
  #pricing-table {
    width: 100%;
    /* total pricing width */
    margin: 0;
  }

  #pricing-table .plan {
    width: 100%;
    padding: 0 0 15px 0;
    margin: 0 0 25px;
  }

  #pricing-table .header {
    margin: 0;
    margin-bottom: 20px;
    padding: 40px 0;
  }

  #pricing-table .popular-plan {
    top: 0;
  }

  #pricing-table .popular-plan .header {
    margin: 0;
    margin-bottom: 20px;
    padding: 40px 0;
  }

  /* ##################### */
  /* $SMARTHPHONE-CAROUSEL */
  /* ##################### */
  .caption {
    /* text sizes */
  }
  .caption.top-left, .caption.middle-left, .caption.bottom-left {
    margin-left: -250px;
  }
  .caption .large {
    font-size: 27px;
  }
  .caption .medium {
    font-size: 24px;
  }
  .caption .small {
    font-size: 18px;
  }

  /* #################### */
  /* $SMARTPHONE-HOMEPAGE */
  /* #################### */
  6team .btn {
    margin: 0 auto;
    float: none;
    display: block;
  }

  .team .item {
    margin-top: 25px;
  }

  #portfolio-nav li {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }

  .portfolio-thumbnails .portfolio-item {
    height: 184px;
  }
  .portfolio-thumbnails .portfolio-item .image-wrapper img {
    max-width: 290px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .hero-unit h1 {
    font-size: 40px;
  }

  /* ##################### */
  /* $SMARTHPHONE-CAROUSEL */
  /* ##################### */
  .caption {
    /* text sizes */
  }
  .caption.top-left, .caption.middle-left, .caption.bottom-left {
    top: 20%;
    margin-left: -125px;
  }
  .caption .large {
    font-size: 22px;
  }
  .caption .medium {
    font-size: 20px;
  }
  .caption .small {
    font-size: 12px;
  }

  /* ################### */
  /* $SMARTHPHONE-FOOTER */
  /* ################### */
  footer p.pull-left, footer p.pull-right {
    display: block;
    float: none;
    text-align: center;
  }
}

.news {
  margin-top: 20px;
}

.news h2, .albums h2 {
  padding: 0;
}

.news .accordion-group, .albums .accordion-group, .event-content .accordion-group {
  border: 0;
  margin-bottom: 20px;
}

.news .accordion-toggle, .albums .accordion-toggle, .event-content .accordion-toggle {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;

}

.news-inner, .album-inner {
  padding: 0px 15px;
  font-size: 16px;
}

.content-page {
  margin-top: 40px;
  font-size: 16px;
}

.event-content {
  font-size: 16px;
}

.author {
  padding-left: 15px;
  margin-bottom: 10px;
}

.author h5 {
  font-weight: 300;
}

.date, .author_name {
  font-size: 14px;
  color: #777;
  font-weight: normal;
}

.events {
  margin-bottom: 20px;
}

.video h1, .events h2 {
  font-weight: 300;
  padding-bottom: 0;
  text-transform: uppercase;
}

.events p, .video p {
  font-size: 16px;
}

.video h3 a, .video h3 a:hover {
  color: #333;
}

iframe {
  width: 100%;
}

@media (min-width: 980px) and (max-width: 1199px) {
  .navbar {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .navbar .nav {
    margin-top: 26px;
  }

  .navbar .nav > li > a {
    padding: 5px 5px 5px;
  }
}

.flowplayer {
  /*background-color: #fff;*/
  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;

  margin-bottom: 20px;
}

.other_video {
  padding: 5px;
  border: 1px solid #ccc;

  float: left;
  margin: 0 20px 20px 0;
}
.page-header {
  padding-top: 120px;
  margin-top: 0;
}
.bs-docs-sidenav.affix {
  top: 120px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.content-page h1 {
  padding-top: 0;
  margin-top: 0;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .bs-docs-sidenav {
    width: auto;
    top: 0;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

@media (min-width: 768px) {
  .bs-docs-sidenav {
    width: 208px;
  }
}

@media (min-width: 979px) {
  .bs-docs-sidenav {
    width: 280px;
  }
}

@media (min-width: 1200px) {
  .bs-docs-sidenav {
    width: 350px;
  }
}

.tag-icon {
  display: inline-block; width: 30px; text-align: center;
}

.pic-of-the-week img {
  padding: 5px; margin-bottom: 10px; border: 1px solid #ccc; width: 100%
}

.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
height: 0;
margin-bottom: 16px;
overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}
